<%- include("common/header") %>
    <main class="main-container">
      <div class="item-container">
          <h2>500 - Internal Server Error</h2>
          <p>Something went wrong!!! Unfortunately something went wrong to the server. <a href="/">Go To Home Page</a></p>
      </div>
    </main>
    <footer>
      <p>Treenote &copy; 2025</p>
    </footer>
  </body>
</html>
