.contact-form {
  display: flex;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 10px;
  align-items: center;
  gap: 20px;

  .form-field {
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 100%;

    label {
      font-size: 1.2rem;
      width: 150px;
      font-weight: bold;
      margin-right: 8px;
      display: block;
      text-align: right;
      padding-right: 10px;
    }
  }

  &.vertical {
    flex-direction: column;
    width: 600px;
    align-items: baseline;
    padding: 30px;

    .form-field {
      label {
        text-align: left;
      }
    }
  }
}

.data-table {
  margin-top: 20px;
}
