<%- include("common/header") %> 
    <main class="main-container">
      <div class="item-container">
        <div class="item-header">
          <h2>Edit Category</h2>
        </div>
        <form action="/categories/update" method="post">
          <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">

          <input type="hidden" name="id" id="id" value="<%= category._id %>">
          <div class="contact-form vertical">
            <div class="form-field">
              <label for="search">Name:</label>
              <input
                type="text"
                id="name"
                name="name"
                value="<%= category.name %>"
                required
              />
            </div>
           
            <div class="form-field">
              <button class="primary-button">Update</button>
              <button class="secondary-button ml-10">Cancel</button>
              <a href="/categories" class="secondary-button ml-10">Back</a>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <p>Treenote &copy; 2025</p>
    </footer>
  </body>
</html>
