<%- include("common/header") %>
    <main class="main-container">
      <div class="item-container">
        <div class="item-header">
          <h2>Categories</h2>
          <a href="/categories/add" class="primary-button">Add</a>
        </div>
        <!-- <form action="">
          <div class="contact-form">
            <div class="form-field">
              <label for="search">Search:</label>
              <input
                type="text"
                id="search"
                value=""
                placeholder="Type to search anything..."
                autocomplete="off"
              />
            </div>
          </div>
        </form> -->

        <table
          class="data-table"
          id="categories-table"
          cellspadding="0"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(const category of categories ) { %>
            <tr>
              <td><%= category.name %></td>
              <td>
                <a href="/categories/edit/<%= category.id %>"
                  ><i class="fa-solid fa-pen" style="color: #7f56fb"></i
                ></a>
                <a href="javascript: void(0)"
                  ><i class="fa-solid fa-trash" style="color: #7f56fb"></i
                ></a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <p>Treenote &copy; 2025</p>
    </footer>
  </body>
</html>
